/* Global nastroyki */


* {margin: 0; padding: 0;}
body {
    font-family: roboto, sans-serif;
    /* background:url(../images/Bleach/IchigoBackground.png);
    background-position: center;
    background-size: cover;
    min-height: 100vh; */
}

/* HEADER */
#main-nav {
    background-color: rgb(0, 0, 0);
    height: 80px;
    text-align: right;
}

.logoAnime { 
    float: left;
    padding-left: 20px;
    padding-top: 10px;
    text-align: left;
}

.logo-img{height: 60px ;}
    
#main-menu{
    list-style: none;
}

.main-menu-item {
    height: 17px;
    display: inline-block;
    
}
.main-menu-item a {
    text-decoration: none;
    color: azure;
    background-color: rgb(157, 0, 0);
    line-height: 1.5em;
    margin: 7px;
    padding: 10px;
    border-radius: 4%;
}
.main-menu-item a:hover,
.main-menu-item:focus {
    background-color: darkred;
    text-shadow: 0 2px 3px rgb(0, 247, 255);   
    margin-left: 0.5em;
    outline: none;
    position:relative;
}


/* Bankai */

#main-Bleach {
list-style: none;
}

.main-Bleach-item{
    text-align: center;
}

.main-Bleach-item a {
    text-decoration: none;
    color: rgb(255, 0, 0);
    line-height: 1.5em;
    margin: 7px;
    border-radius: 4%;
    padding-right: 310px;
    

}


/* Register */


.containerR {
    background:url(../images/Bleach/IchigoBackground.png);
    background-position: center;
    background-size: cover;
    padding: 230px 40%;
    padding: top-bottom right-left;

}

.wrapper {
    background: rgba(246, 0, 0, 0.364);
    padding: 40px ;
    font-family: "Popins", sans-serif;
    display: flex;
    /* justify-content: center; */
    padding-top: 15%;
    border-radius:10px ;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    font-size: 14px;
    color: antiquewhite;
    padding: 1px 5px 1% 10px;
}

.input-box input::placeholder {
    color: aliceblue;
}

.input-box i {
    color: aliceblue;
    position: absolute;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right:3px ;
}

.remember-forgot a {
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .bth {
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14.5;
    text-align: center;
    margin-top: 20px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}







/* .containerR {
    background:url(../images/Bleach/IchigoBackground.png);
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.wrapper {
    font-family: "Popins", sans-serif;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* padding-top: 15%;
} */


